In [24]:
import pandas as pd
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import numpy as np
import time
from sklearn import metrics
import pickle
import numpy as np
import requests
import os
import pandas as pd
import csv

from io import BytesIO
from matplotlib.pyplot import imshow
from PIL import Image

import rasterio
import rasterio.features
import rasterio.warp
from rasterio import MemoryFile
from PIL import ImageColor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

In [15]:
!pip install rasterio

Collecting rasterio
  Downloading https://files.pythonhosted.org/packages/cc/1c/0f36885ac5864b8ad75f167ca1d403666a5f0c3b2ea8ad3366c98a628e99/rasterio-1.1.7-cp36-cp36m-manylinux1_x86_64.whl (18.1MB)
     |████████████████████████████████| 18.1MB 174kB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from rasterio) (1.18.5)
Collecting click-plugins
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting snuggs>=1.4.1
  Downloading https://files.pythonhosted.org/packages/cc/0e/d27d6e806d6c0d1a2cfdc5d1f088e42339a0a54a09c3343f7f81ec8947ea/snuggs-1.4.7-py3-none-any.whl
Collecting affine
  Downloading https://files.pythonhosted.org/packages/ac/a6/1a39a1ede71210e3ddaf623982b06ecfc5c5c03741ae659073159184cd3e/affine-2.3.0-py2.py3-none-any.whl
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from rasterio) (20.2.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from rasterio) (7.1.2)
Requirement already satisfied: pyparsing>=2.1.6 in /usr/local/lib/python3.6/dist-packages (from snuggs>=1.4.1->rasterio) (2.4.7)
Installing collected packages: click-plugins, snuggs, affine, cligj, rasterio
Successfully installed affine-2.3.0 click-plugins-1.1.1 cligj-0.5.0 rasterio-1.1.7 snuggs-1.4.7

In [3]:
df1 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Updated_CSV_2.csv")
df2 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Updated_CSV_Random.csv")

In [5]:
df2.head()

   Unnamed: 0  Latitude   Longitude   ...  Elevation Temperature_D  Temperature_N
0           0  53.228092 -105.125951  ...    #41bf36       #f4f4f4        #f4f4f4
1           1  30.680808  -98.742585  ...    #28b93f       #393d26        #393d26
2           2  46.139354  -90.550267  ...    #44c035       #9a9f98        #9a9f98
3           3  37.734402  -72.824027  ...    #77787c       #77787c        #77787c
4           4  25.817881 -110.647170  ...    #7f7f7d       #7f7f7d        #7f7f7d

[5 rows x 14 columns]

In [6]:
df1.head()

   Row  Latitude   Longitude   ...  Elevation Temperature_D  Temperature_N
0  0.0 -12.959167   19.792500  ...    #cfc40a       #636967        #636967
1  1.0  49.514444   16.706667  ...    #4ac233       #e7e7e7        #e7e7e7
2  2.0  43.128889   10.635278  ...    #57c52e       #f5dcdf        #f5dcdf
3  3.0  44.483333   16.316667  ...    #cbca0a       #cccecb        #cccecb
4  4.0  44.250000   15.016667  ...    #29333d       #29333d        #29333d

[5 rows x 14 columns]

In [7]:
df = (df1.loc[:370]).append(df2.loc[:295])
df

     Row  Latitude   Longitude   ...  Temperature_D Temperature_N  Unnamed: 0
0    0.0 -12.959167   19.792500  ...        #636967       #636967         NaN
1    1.0  49.514444   16.706667  ...        #e7e7e7       #e7e7e7         NaN
2    2.0  43.128889   10.635278  ...        #f5dcdf       #f5dcdf         NaN
3    3.0  44.483333   16.316667  ...        #cccecb       #cccecb         NaN
4    4.0  44.250000   15.016667  ...        #29333d       #29333d         NaN
..   ...        ...         ...  ...            ...           ...         ...
291  NaN  38.007016  -68.952521  ...        #1b222c       #1b222c       291.0
292  NaN  46.041518 -112.812577  ...        #eaebed       #eaebed       292.0
293  NaN  37.917815  -80.370140  ...        #677576       #677576       293.0
294  NaN  25.506995 -101.439732  ...        #f6f6f6       #f6f6f6       294.0
295  NaN  43.417665 -110.801848  ...        #f4f4f4       #f4f4f4       295.0

[667 rows x 15 columns]

In [9]:
df.shape

(667, 15)

In [10]:
dataX = df[df.columns[[6,11]]]
dataY = df[df.columns[[5]]]

In [11]:
dataX.head()

  Soil_Moisture Elevation
0       #ffe300   #cfc40a
1       #00b164   #4ac233
2       #ffec00   #57c52e
3       #00bd7c   #cbca0a
4       #3b9d00   #29333d

Converting the hex code to rgb components and storing them

In [12]:
count = 0
r,g,b,r1, g1, b1 = [],[],[],[],[],[]
for index, row in dataX.iterrows():
  print(count)
  hex = dataX.iloc[count][0]
  rgb =  ImageColor.getcolor(str(hex), "RGB")
  r.append(rgb[0])
  g.append(rgb[1])
  b.append(rgb[2])
  hex = dataX.iloc[count][1]
  rgb =  ImageColor.getcolor(str(hex), "RGB")
  r1.append(rgb[0])
  g1.append(rgb[1])
  b1.append(rgb[2])
  count += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666

In [13]:
len(r1)

667

In [14]:
new_columns = ["R_soil", "G_soil", "B_soil", "R_ele", "G_ele", "B_ele"]

In [15]:
df[new_columns[0]] = r
df[new_columns[1]] = g
df[new_columns[2]] = b
df[new_columns[3]] = r1
df[new_columns[4]] = g1
df[new_columns[5]] = b1

In [16]:
df.head()

   Row  Latitude   Longitude        ID  ... B_soil  R_ele G_ele B_ele
0  0.0 -12.959167   19.792500  22258.0  ...      0    207   196    10
1  1.0  49.514444   16.706667  22259.0  ...    100     74   194    51
2  2.0  43.128889   10.635278  22260.0  ...      0     87   197    46
3  3.0  44.483333   16.316667  22261.0  ...    124    203   202    10
4  4.0  44.250000   15.016667  22262.0  ...      0     41    51    61

[5 rows x 21 columns]

In [17]:
X = df[df.columns[[15,16,17,18,19,20]]]

In [18]:
dataY.astype(int)

     Locust
0         1
1         1
2         1
3         1
4         1
..      ...
291       0
292       0
293       0
294       0
295       0

[667 rows x 1 columns]

Train-Test Split

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, dataY, test_size=0.2)

Random Forest Classifier

In [61]:
clf=RandomForestClassifier(n_estimators=100)

In [62]:
X_train

     R_soil  G_soil  B_soil  R_ele  G_ele  B_ele
188      97     101     110     97    101    110
290     105     108     115    105    108    115
266     255     229       0    208    170     12
175      59     157       0     29     39     49
244     255     241       0     22     34     46
..      ...     ...     ...    ...    ...    ...
270     182     176     178    182    176    178
259       0     180     106      0    134     50
326      62      71      76     62     71     76
150     130     193       0      0    162     69
95       80      95     114     80     95    114

[533 rows x 6 columns]

In [63]:
y_train = list(y_train[y_train.columns[0]])
y_test = list(y_test[y_test.columns[0]])

In [64]:
clf = clf.fit(X_train,y_train)

In [65]:
y_pred = clf.predict(X_test)

In [66]:
print("Training Accuracy:",metrics.accuracy_score(y_train, clf.predict(X_train)))
print("Test Accuracy:",metrics.accuracy_score(y_test, y_pred))
base_accuracy = metrics.accuracy_score(y_test, y_pred)

Training Accuracy: 0.9924953095684803
Test Accuracy: 0.6716417910447762

In [67]:
cm = metrics.confusion_matrix(y_test,y_pred)

In [68]:
cm

array([[37, 17],
       [27, 53]])

Hyperparameter Tuning

In [70]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(5, 110, num = 10)]
max_depth.append(None)
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4, 10]
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 16, 28, 40, 51, 63, 75, 86, 98, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4, 10], 'bootstrap': [True, False]}

In [73]:
start_time = time.time()
rf = RandomForestClassifier()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(X_train, y_train)
print("Total time taken--- %s seconds---" % (time.time() - start_time))

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   49.5s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  5.7min finished

Total time taken--- 345.847177028656 seconds---

In [74]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    accuracy = metrics.accuracy_score(test_labels, predictions)
    print('Model Performance')
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy, predictions

In [75]:
best_random = rf_random.best_estimator_
random_accuracy, preds = evaluate(best_random, X_test, y_test)
random_accuracy

Model Performance
Accuracy = 0.69%.

0.6865671641791045

In [76]:
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 2.22%.

In [77]:
cm = metrics.confusion_matrix(y_test,preds)
cm

array([[24, 30],
       [12, 68]])

In [80]:
pickle.dump(best_random, open("best_rf_model.sav", 'wb'))

**Support** **Vector** **Machines**

In [94]:
svc = svm.SVC(kernel='rbf') 

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print(accuracy)

0.6865671641791045

In [95]:
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Precision: 0.7021276595744681
Recall: 0.825

In [98]:
print("Train accuracy", metrics.accuracy_score(y_train, svc.predict(X_train)))
print("Test accuracy", accuracy)
print(metrics.confusion_matrix(y_test,y_pred))
print(metrics.classification_report(y_test,y_pred))

Train accuracy 0.6791744840525328
Test accuracy 0.6865671641791045
[[26 28]
 [14 66]]
              precision    recall  f1-score   support

         0.0       0.65      0.48      0.55        54
         1.0       0.70      0.82      0.76        80

    accuracy                           0.69       134
   macro avg       0.68      0.65      0.66       134
weighted avg       0.68      0.69      0.68       134

Hyperparameter tuning

In [32]:
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf', 'poly', 'sigmoid']}

In [ ]:
start_time = time.time()
svm = svm.SVC()
grid = GridSearchCV(svm,param_grid,verbose=2, cv = 3)
grid.fit(X_train,y_train)
print("Total time taken--- %s seconds---" % (time.time() - start_time))

Fitting 3 folds for each of 48 candidates, totalling 144 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.0s
[CV] C=0.1, gamma=1, kernel=poly .....................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

In [ ]:
print(grid.best_estimator_)
best_svm = grid.best_estimator_

In [68]:
#pickle.dump(clf, open("rf_model.sav", 'wb'))

In [99]:
pickle.dump(svc, open("BEST_SVM_model.sav", 'wb'))

In [4]:
feature_list = ['Soil_Moisture', 'Elevation', 'Soil_Temperature', 'Vegetation_Index']

**Python API function to use this model**

In [5]:
List_URL = [
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Analyzed_Surface_Soil_Moisture&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,ASTER_GDEM_Color_Index&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Soil_Temperature_Layer_1&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,MODIS_Terra_NDVI_8Day&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
]

#1:SMAP_L4_Analyzed_Surface_Soil_Moisture
#2:ASTER_GDEM_Color_Index (Elevation)
#3:SMAP_L4_Soil_Temperature_Layer_1 (Soil Temp)
#4 MODIS_Terra_NDVI_8Day

In [30]:
def get_val(lat, longo, time):
  unit_length = 0.06
  lower_lat = lat - unit_length
  left_long = longo - unit_length

  upper_lat = lat + unit_length
  right_long = longo + unit_length 

  Bbox = (lower_lat,left_long,upper_lat,right_long)

  Bbox = str(Bbox)[1:]

  Bbox = Bbox[:-1]

  Bbox = Bbox.replace(" ", "")
  df = pd.DataFrame(columns = feature_list)
  for i in range(len(List_URL)):
      
      link = List_URL[i]
      url = link.format(time, Bbox)
      response = requests.get(url)
      print(url)
      img = BytesIO(response.content)

      with open("example2.tif", "wb") as  f:
        f.write(img.getvalue())

      with rasterio.open('example2.tif') as dataset:
        mask = dataset.dataset_mask()
        
        for geom, val in rasterio.features.shapes(
                mask, transform=dataset.transform):
  
            geom = rasterio.warp.transform_geom(
              dataset.crs, 'EPSG:4326', geom, precision=6)
     
            b = dataset.index(longo, lat)
            a = dataset.read()
            index = a[:,b[0]-1,b[1]]
            index = '#%02x%02x%02x' % (index[0], index[1],index[2])
            
            df.loc[0, feature_list[i]] = index
  return df

In [3]:
new_columns = ["R_soil", "G_soil", "B_soil", "R_ele", "G_ele", "B_ele","R_temp", "G_temp", "B_temp", "R_veg", "G_veg", "B_veg",]

In [28]:
def getRBGValues(df):
  count = 0
  r,g,b,r1, g1, b1,r2, g2, b2,r3, g3, b3 = [],[],[],[],[],[],[],[],[],[],[],[]
  for index, row in df.iterrows():
    print(count)
    hex = df.iloc[count][0]
    print("1",df)
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r.append(rgb[0])
    g.append(rgb[1])
    b.append(rgb[2])
    print("2",hex)
    hex = df.iloc[count][1]
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r1.append(rgb[0])
    g1.append(rgb[1])
    b1.append(rgb[2])
    hex = df.iloc[count][2]
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r2.append(rgb[0])
    g2.append(rgb[1])
    b2.append(rgb[2])
    hex = df.iloc[count][3]
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r3.append(rgb[0])
    g3.append(rgb[1])
    b3.append(rgb[2])
    count += 1
    df[new_columns[0]] = r
  df[new_columns[1]] = g
  df[new_columns[2]] = b
  df[new_columns[3]] = r1
  df[new_columns[4]] = g1
  df[new_columns[5]] = b1
  df[new_columns[6]] = r2
  df[new_columns[7]] = g2
  df[new_columns[8]] = b2
  df[new_columns[9]] = r3
  df[new_columns[10]] = g3
  df[new_columns[11]] = b3
  return df

In [32]:
def load_model():
  model = pickle.load("model.sav")
  return model

Just call this function with latitude, longitude and date to check for locust invasion

In [19]:
def get_locust_prob(lat, longo):
  df = get_val(lat, longo, "2019-01-01")
  df = getRBGValues(df)
  #model = load_model()  
  prediction = model.predict(df)
  print(prediction)

API test

In [31]:
lat = 9.57
longo = 45.46
get_locust_prob(lat, longo)

https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2019-01-01&BBOX=9.51,45.4,9.63,45.52&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Analyzed_Surface_Soil_Moisture&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2019-01-01&BBOX=9.51,45.4,9.63,45.52&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,ASTER_GDEM_Color_Index&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2019-01-01&BBOX=9.51,45.4,9.63,45.52&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Soil_Temperature_Layer_1&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2019-01-01&BBOX=9.51,45.4,9.63,45.52&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,MODIS_Terra_NDVI_8Day&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
0
1   Soil_Moisture Elevation Soil_Temperature Vegetation_Index
0       #ffde00   #c6d20b          #ff6f00          #cdba9e
2 #ffde00
  Soil_Moisture Elevation Soil_Temperature  ... R_veg  G_veg  B_veg
0       #ffde00   #c6d20b          #ff6f00  ...   205    186    158

[1 rows x 16 columns]